*{
   //border: solid red 2px; 
    margin: 0rem;
    padding: 0rem;
}

img{
    margin: 0;
    padding: 0;
    align-items: center;
    
}

.img2{
    display: block;
    margin: 5% 5% 5% auto;
    width: 50%;
}
li{
    list-style: none;
}
p{
    color: gray;
    font-size: 6vw;
    text-align: center;
    justify-content: center;
    font-weight: 700;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(201, 195, 195);
}
button{
    display: flex;
    color: black;
    background-color: red;
    width: 24vw;
    height: 6vw;
    font-size: 3vw;
    
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    

}
.slideShow{
}
.mySlides{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 40rem;

    
}

.logo{
    
    width: 5vw;
    height: 5vw;
}
.navbar{
    
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.container{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-shrink: 1;
}
.header-left{
    padding: 0rem 2rem;

}
.header-right{
    display: flex;
    gap: 2rem;
    padding-right: 2rem;

}
.header-right a:hover{
    color: red;
}
.chill{
     display: flex;
      position: absolute;
      
      flex-direction: column;
      
      justify-content:flex-start;
      gap:1rem;
      top: 10rem;
      
}
.chili{
    color: black;
    
    
    font-size: 10vw;
    font-weight: bold;
}
.chili2{
    display: flex;
    color: black;
    
    font-size: 4vw;
}
.section2{
    display: flex;
    flex-direction: row;
    background-color: rgb(71, 4, 4);

}
.section3{
    display: flex;
    flex-direction: column;
    
}

.neon-text {
    text-align: center;
    background-color: black;
    font-size: 6vw;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}
.cards{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(67, 66, 66);
    width: 100%;
    height: 45vw;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
    width: 22vw;
    height: 35vw;
    background-color: rgb(34, 34, 34);
    border-radius: 2vw;
    
}
.cardImage{
    display: flex;
    margin: 10% 10% 10% 10%;
    width: 80%;
    height: 70%;
    border-radius: 1.5vw;
}
.cardTitle {
    color: whitesmoke;
    font-size: 1.5vw;
    margin: 0% 5% 5% 5%;
}
.cardText{
    color: whitesmoke;
    text-align: left;
    font-size: 1.1vw;
    margin: 0% 5% 5% 5%;
}
.cardMore{
    font-size: 0.9vw;
    color: #ff005e;
    margin: 0% 5% 5% 5%;
}

.section4{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(36, 35, 35);
}
.div50{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.div51{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.para4{
        color: white;
        font-size: 3vw;
}
.para42{
    color: white;
    font-size: 2vw;
    text-align: left;
}
.para43{
    color: white;
    font-size: 2vw;
    text-align: center;
}

.image4{
    
    width: 80%;
    height: 80%;
    border-radius: 25% 55% 45% 65%;
}
.section5{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(59, 59, 59);
}
.cards2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 5vw;

}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    width: 20vw;
    height: 40vw;
    margin-bottom: 2vw;
    
    
}
.cardImage2{
    display: flex;
    
    
    width: 100%;
    height: 50%;
    
}
.size2{
    background-color: #880519;
    width: 15vw;
    height: 3vw;
    border: none;
    color: white;
    font-size: 1vw;
}
.section6{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.tekst1{
    width: 35%;
    display: flex;
    flex-direction: column;
    
}
.vpr{
    
    margin: 6vw auto 6vw 5vw;
    text-align: left;
    font-size: 2.5vw;
    color: whitesmoke;
}
.con{
    color: #ef1616;
    margin: 0 auto 0 5vw;
    text-align: left;
    font-weight: 900;
}
.tekst2{
    width: 65%;
    
}
.tekst11{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
   
    font-size: 1.7vw;
    margin: 6vw auto 6vw 0;
    text-align: left;
}
.tekst12{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    
    font-size: 1.7vw;
    margin: 0% auto 4vw 0;
    text-align: left;
}
.sidebar{
    position: fixed;
    top: 0rem;
    right: 0rem;
    height: 100vh;
    width: 15rem;
    z-index: 999;
    background-color: rgb(255, 255, 255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10 rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
@media (max-width:1000px) {
    .hideOnMobile{
        display: none;
    }
    .logo{
    
        width: 6vw;
        height: 6vw;
    }
    .chill{
margin: 25% 25% 0% 25%;
align-items: center;

    }
    
    .chili{
        font-size: 6vw;
    }
    .img2{
        display: block;
    margin:  auto;
    width: 80%;
    }
    .section2{
        display: flex;
        flex-direction:column;

    
    }
    .cards{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
        background-color: rgb(77, 75, 75);
        width: 100%;
        height: 100%;
    }
    .card{
        
        width: 80%;
        height: 100vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        background-color: black;
        border-radius: 5vw;
        
    }
    .cardTitle {
    color: whitesmoke;
    font-size: 3vw;}
.cardText{
    color: whitesmoke;
    text-align: left;
    font-size: 2.6vw;
    margin: 0% 5% 5% 5%;
}
.cardMore{
    font-size: 2.4vw;
    color: #ff005e;
    margin: 0% 5% 5% 5%;
}
.section4{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(36, 35, 35);
}
.div50{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.div51{
    
    width: 100%;
    
}

.para4{
        color: white;
        font-size: 4.5vw;
}
.para42{
    color: white;
    font-size: 4vw;
    text-align: center;
}

.image4{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    border-radius: 25% 55% 45% 65%;
}
.section5{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(59, 59, 59);
}
.cards2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    width: 40%;
    height: 50%;
    margin-bottom: 2vw;
    
    
}
.cardImage2{
    display: flex;
    
    
    width: 100%;
    height: 50%;
    
}
.section6{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.tekst1{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.vpr{
    
    margin: 3vw 0 3vw 0;
    text-align: center;
    font-size: 3vw;
    color: whitesmoke;
}
.con{
    color: #ef1616;
    margin: 0 0 3vw 0 ;
    text-align: center;
    font-weight: 900;
}
.tekst2{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    
}
.tekst11{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    
    font-size: 3vw;
    margin: 0vw 5vw 3vw 5vw ;
    text-align: center;
    
}
.tekst12{
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    
    font-size: 3vw;
    margin: 0vw 5vw 3vw 5vw ;
    text-align: center;
}
}